@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");


:root {
	--bg-color: #121B25;
	--accent-colour: #1AA090;
	--text-colour: #d6d6d6;
}

body {
	font-family: "Work Sans", sans-serif;
	background-color: var(--bg-color);
	color: #fff;

	&.lock {
		overflow: hidden;
	}
}

[class*="__container"] {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0px 15px;
}

// --GENERAL CLASSES----------------------------------------
.title {
	font-weight: 600;
	font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
	line-height: 126%;
	text-transform: capitalize;
	color: #FFFFFF;
}

.text {
	font-weight: 400;
	font-size: 18px;
	line-height: 170%;
	color: var(--text-colour);
}

.link {
	display: inline-block;
	margin-top: 45px;
	padding: 22px 42px;
	background-color: var(--accent-colour);
	font-weight: 500;
	font-size: 24px;
	text-transform: capitalize;
	transition: opacity 0.2s;

	@media (any-hover:hover) {
		&:hover {
			opacity: 0.5;
		}
	}
}


// ---------------HEADER-----------------------------
.header {
	position: absolute;
	width: 100%;
	padding: clamp(1.25rem, 0.896rem + 1.77vw, 2.5rem);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	&__logo {
		max-width: 200px;

		& img {
			@media (max-width:500px) {
				max-width: 100px;
			}
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		gap: clamp(1.25rem, -2.725rem + 8.28vw, 4.625rem);
	}

	&__buttons {
		display: flex;
		gap: 5px;
	}

	&__btn {
		padding: 11px 20px;
		color: #fff;
		border: 2px solid var(--accent-colour);
		background-color: transparent;
		cursor: pointer;
		transition: background-color .2s;

		@media (max-width:576px) {
			padding: 7px 15px;
		}
	}
}

.menu {
	@media (max-width:992px) {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		background-color: var(--accent-colour);
		transition: 0.2s;
		padding: 30px 0px 20px 0px;
		overflow: auto;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;

		&.active {
			left: 0;
		}

		&__body {
			flex-direction: column;
		}

	}

	&__body {
		display: flex;
		align-items: center;
		gap: clamp(1.25rem, -1.457rem + 4.37vw, 2.5rem);
	}



	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		text-transform: capitalize;
		color: var(--text-colour);
		transition: all ease 500ms;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			height: 3px;
			background-color: var(--accent-colour);
			opacity: 0;
			visibility: hidden;
			transition: opacity .2s;
		}

		@media(any-hover:hover) {
			&:hover {
				color: #fff;

				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.login {
	@media (any-hover:hover) {
		&:hover {
			background-color: var(--accent-colour);
		}
	}

	@media (max-width:500px) {
		display: none;
	}
}

.register {
	background-color: var(--accent-colour);

	@media (any-hover:hover) {
		&:hover {
			background-color: transparent;
		}
	}

}

// ----------------BURGER BTN--------------------------
.burger__btn {
	display: none;
	width: 30px;
	height: 20px;
	position: relative;
	cursor: pointer;
	z-index: 5;

	@media (max-width:992px) {
		display: block;
	}

	& span {
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		top: calc(50% - 1.5px);
		transition: 0.2s;

		&:first-child {
			top: 0;
		}

		&:last-child {
			top: auto;
			bottom: 0;
		}
	}

	&.active {

		span {
			transform: scale(0);

			&:first-child {
				top: calc(50% - 1.5px);
				transform: rotate(45deg);
			}

			&:last-child {
				top: calc(50% - 1.5px);
				transform: rotate(-45deg);
			}
		}
	}
}

// ------MAIN------------------------------------------------------
// Section-SEARCH
.search {
	padding-top: clamp(5.938rem, 4.398rem + 7.7vw, 11.375rem);
	padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);

	.rombs-image {
		position: absolute;
		bottom: -200px;
		right: 0;
		z-index: -1;

		@media (max-width: 992px) {
			display: none;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width:992px) {
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 0 calc(700px / 1420px * 100%);
		padding-bottom: 160px;

		@media (max-width:992px) {
			padding-bottom: 10px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: clamp(1.875rem, 1.202rem + 3.36vw, 4.25rem);
		line-height: 126%;
		text-transform: capitalize;
	}

	&__text {
		margin-top: 18px;
	}

	&__filter {
		width: 880px;
		height: 100px;
		background-color: #fff;
		position: absolute;
		margin-top: 60px;

		@media (max-width:992px) {
			width: 100%;
			position: static;
		}
	}

	&__image {
		flex: 0 0 calc(700px / 1420px * 100%);

		@media(min-width: 768px) and (max-width: 992px) {
			display: none;
		}
	}
}

// ------FILTER---------------------------

.filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 165px;
	color: black;

	@media (max-width:576px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width:475px) {
		grid-template-columns: 1fr;
		height: auto;
		border-radius: 10px;
		padding-top: 10px;
	}

	&__block {
		&:nth-child(2) {
			border-right: 1px solid #E8E8E8;
			border-left: 1px solid #E8E8E8;

			@media (max-width:474px) {
				border-top: 1px solid #E8E8E8;
				border-bottom: 1px solid #E8E8E8;
			}
		}
	}

	&__btn {
		padding: 5px;

		button {
			background-color: var(--accent-colour);
			height: 100%;
			width: 100%;
			border: none;
			font-weight: 500;
			font-size: 24px;
			color: #FFFFFF;
			cursor: pointer;

			&:active {
				opacity: 0.8;
			}

			@media (max-width:475px) {
				padding: 10px;
				border-radius: 10px;
			}
		}

		@media (max-width:576px) and (min-width:475px) {
			grid-column: 1/4;
		}

	}
}

.block-filter {
	position: relative;

	@media (max-width:475px) {
		padding-bottom: 10px;
	}

	&__button {
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		padding-left: 40px;
		padding-right: 5px;

		@media (max-width:768px) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__header {
		display: flex;
		align-items: center;
	}

	&__type {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #858585;
		padding-right: 2px;
	}

	&__icon {
		width: 10px;
		height: 7px;
		margin-top: 3px;
		margin-left: 3px;
		transition: all 0.2s;

		&.active {
			transform: rotate(180deg);
		}
	}

	&__value {
		font-weight: 600;
		font-size: 18px;
		text-transform: capitalize;
		color: var(--bg-color);
	}

	&__dropdown {
		position: absolute;
		top: 105%;
		left: 0;
		right: 0;
		background-color: #fff;
		padding: 5px;
		border-radius: 10px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.2s;
		z-index: 3;
		box-shadow: 0 0 1px 5px #d4cdcd;

		@media (max-width:475px) {
			top: 100%;
		}


		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(5px);
		}
	}

	&__item {
		cursor: pointer;
		padding: 10px;
		transition: all 0.2s;

		@media (any-hover:hover) {
			&:hover {
				background-color: rgb(103, 119, 119);
				border-radius: 10px;
			}

		}
	}
}

//  _____FEATURED________________________________________________________
.featured {
	padding-top: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
	padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);

	&__box {
		margin-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.438rem);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
		overflow: auto;
	}

	&__item {
		flex: 0 0 auto;
	}

}

// _______POPULAR__________________________________________________________________
.popular {
	background: url('../img/slider-bg.png') center center/cover no-repeat;
	padding-top: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
	padding-bottom: clamp(1.25rem, -1.295rem + 12.73vw, 10rem);

	&__slider {
		margin-top: 40px;
		position: relative;
	}

	&__link {
		text-align: center;
		margin-top: 65px;
	}

	&__link a {
		display: inline-block;
		padding: 22px 42px;
		color: #fff;
		font-weight: 500;
		font-size: 24px;
		text-transform: capitalize;
		color: #FFFFFF;
		margin: 0 auto;
		background-color: var(--accent-colour);
		transition: all 0.2s;

		@media (any-hover:hover) {
			&:hover {
				opacity: 0.8;
			}
		}

		@media (max-width:475px) {
			border-radius: 10px;
		}
	}
}

// Cards------------------------------------------------------------------------------------


.popular-slide {
	display: flex;
	flex-direction: column;
	gap: 27px;

	@media (max-width:660px) {
		text-align: center;
	}

	&__title {
		font-weight: 600;
		font-size: 26px;
		line-height: 126%;
		letter-spacing: 0.01em;
		text-transform: capitalize;

		color: #FFFFFF;
	}


	&__labels {
		display: flex;
		gap: 20px;

		@media (max-width:660px) {
			justify-content: center;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 4px;
		flex-wrap: wrap;
	}


}

.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	display: inline-flex;
}



.slider-buttons {
	position: absolute;
	top: 23%;
	display: flex;
	justify-content: space-between;
	width: 100%;

	@media (max-width:1800px) {
		top: -100px;
		right: 0;
		width: auto;
		gap: 20px;
	}
}

.popular-slider-prev {
	position: absolute;
	left: -130px;
}

.popular-slider-next {
	position: absolute;
	right: -130px;
	transform: rotate(180deg);
}

.popular-slider-btn {
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: url('../img/icons/arrow-slider.svg')center center no-repeat;
	border: 1px solid #fff;
	cursor: pointer;

	@media (max-width:1800px) {
		position: static;
	}

	@media (max-width:660px) {
		display: none;
	}
}

// _________WHY_______________________________________________________________________________________________________
.why {
	padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
	padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);


	&__title {
		text-align: center;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
		gap: clamp(1.25rem, 0.705rem + 10vw, 3.125rem);

		@media (max-width:768px) {
			flex-direction: column;
		}
	}


}

.item-why {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	flex: 0 0 calc(378px / 1420px * 100%);

	&__img {
		width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
		height: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 50%;
			background-color: var(--accent-colour);
			opacity: 0.12;
		}

		svg {
			width: 40%;
			height: 40%;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 26px;
		letter-spacing: 0.01em;
		text-transform: capitalize;
		color: #FFFFFF;
	}

	&__text {
		margin-top: 10px;
	}
}

// _________________________Reviews_____________________________________________________________________

.reviews {
	position: relative;
	padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);

	.reviews-deco {
		position: absolute;
		top: -500px;
		left: 0;
		z-index: -1;

		@media (max-width:576px) {
			width: 70%;
		}
	}

	.swiper-wrapper {
		align-items: flex-start;
	}

	&__container {
		position: relative;
		max-width: 1020px;
		margin: 0 auto;
		padding-top: 195px;
	}

	&__quotes {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 260px;
		text-transform: capitalize;
		color: var(--accent-colour);
	}


}

.slider-reviews {



	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
		line-height: 157%;
		text-transform: capitalize;
	}

	&__info {
		margin-top: 40px;
	}

	&__name {
		font-weight: 600;
		font-size: 22px;
		letter-spacing: 0.01em;
		text-transform: capitalize;
	}



	&__buttons {
		height: 60px;
		align-items: center;
		display: flex;
		gap: 70px;
		width: 115px;
		position: absolute;
		bottom: 0;
		right: 15px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			background: #353F49;
			width: 1px;
		}
	}
}

.slider-reviews-btn {
	&.swiper-button-disabled {
		svg {
			fill: #767F89;
		}
	}

	svg {
		fill: #fff;
	}
}

.slider-reviews-prev {
	transform: translateY(-3px) rotate(180deg);

}

// _________GALERY________________________________________________________________________________________________________________---
.galery {
	background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
	padding-top: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
	padding-bottom: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);

	&__container {
		display: flex;
		align-items: center;
		gap: 65px;

		@media(max-width: 992px) {
			flex-direction: column;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: space-between;
		width: calc(720px / 1420px *100%);

		@media(max-width: 992px) {
			width: 100%;
		}
	}

	&__item {
		flex: 0 0 47%;
		aspect-ratio: 7/11;

		.swiper-wrapper {
			position: relative;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}



	&__title {
		@media(min-width:992px) {
			max-width: 520px;
		}
	}

	&__text {
		margin-top: 22px;
	}

	&__link {

		@media(max-width:475px) {
			border-radius: 10px;
		}
	}
}

// __________BEGIN_______________________________________________________________________________________________________________-
.begin {
	position: relative;
	padding: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;

	.begin-wave {
		position: absolute;
		bottom: -250px;
		left: 0;
		z-index: -1;
		width: 300px;
	}

	.begin-rect {
		position: absolute;
		top: -77px;
		right: 0;

		@media(max-width:475px) {
			display: none;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
		max-width: 1240px;

		@media(max-width: 992px) {
			flex-direction: column;
		}
	}

	&__slogan {
		font-weight: 600;
		font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
		line-height: 126%;
		text-transform: capitalize;
		z-index: 1;
	}

	&__content {
		flex: 0 0 50%;
	}



	&__link {
		margin-top: 50px;
		z-index: 2;

		@media(max-width:475px) {
			border-radius: 10px;
		}

	}
}

// FOOOOOOOTERRRR______________________________________________________________________________________________________________________________
.footer {
	padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);

	background: #1A242F;

	&__main {
		padding-bottom: clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);

		.main-footer__container {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);

			@media(max-width:992px) {
				grid-template-columns: repeat(4, 1fr);
			}

			@media(max-width:600px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}
		}
	}

	&__block {
		@media(max-width:992px) {
			grid-column: 1/5;

			&:not(:first-child) {
				grid-row: 2/3;
				grid-column: auto;
			}
		}
	}



	&__text {
		margin: 22px 0 32px;

		@media(min-width:992px) {
			width: 340px;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 30px;

		@media(max-width:600px) {
			justify-content: center;
		}
	}

	&__social {
		svg {
			transition: fill 0.2s;
			fill: #555E68;
		}

		@media(any-hover: hover) {
			&:hover {
				svg {
					fill: #FFFFFF;
				}
			}
		}
	}

	&__copyright {
		border-top: 1px solid #303A44;

		.copyright-footer__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px;

			@media(max-width:600px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				gap: 20px;
			}
		}
	}
}

.links-footer {

	&__header {
		font-weight: 600;
		font-size: 26px;
		letter-spacing: 0.01em;
		text-transform: capitalize;
		margin-bottom: 10px;
		color: #FFFFFF;
	}



	&__link {
		transition: color 0.2s;
		white-space: nowrap;

		@media(any-hover: hover) {
			&:hover {
				color: #FFFFFF;
			}
		}
	}
}